In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import geopandas as gpd
#import contextily as cx
from welly import Well
import welly
from sqlalchemy import create_engine, MetaData
from base import ROOT_DIR

In [2]:
file = ROOT_DIR / 'gtx/data/Duvernay/Duvernay/Duvernay well headers SPE April 21 2021 .xlsx'
df_well = pd.read_excel(file)
print(df_well.head())

               UWI   Elevation Meters ElevationDatum  TD meters   \
0  100072507623W500             555.7             KB      2545.0
1  100062007823W500             560.9             KB      2430.0
2  100052107723W500             558.4             KB      2515.5
3  100061307518W500             631.4             KB      2411.0
4  100070907618W500             627.0             KB      2408.0

   SurfaceLatitude_NAD83  SurfaceLongitude_NAD83  BottomLatitude_NAD83  \
0              55.613640             -117.423800             55.613640
1              55.770872             -117.537674             55.770872
2              55.683723             -117.516168             55.683723
3              55.494600             -116.653606             55.494600
4              55.566965             -116.726243             55.566965

   BottomLongitude_NAD83  SurfaceLatitude_NAD27  SurfaceLongitude_NAD27  \
0            -117.423800              55.613640             -117.423800
1            -117.537674              55.770872             -117.537674
2            -117.516168              55.683723             -117.516168
3            -116.653606              55.494600             -116.653606
4            -116.726243              55.566965             -116.726243

   BottomLatitude_NAD27  BottomLongitude_NAD27
0             55.613640            -117.423800
1             55.770872            -117.537674
2             55.683723            -117.516168
3             55.494600            -116.653606
4             55.566965            -116.726243

In [3]:
column_names = df_well.columns
print(column_names)
duvernay_geo = df_well[
    ['UWI ', 'Elevation Meters', 'TD meters ', 'SurfaceLongitude_NAD83',
     'SurfaceLatitude_NAD83',
     ]]
print(duvernay_geo.head())

Index(['UWI ', 'Elevation Meters', 'ElevationDatum', 'TD meters ',
       'SurfaceLatitude_NAD83', 'SurfaceLongitude_NAD83',
       'BottomLatitude_NAD83', 'BottomLongitude_NAD83',
       'SurfaceLatitude_NAD27', 'SurfaceLongitude_NAD27',
       'BottomLatitude_NAD27', 'BottomLongitude_NAD27'],
      dtype='object')
               UWI   Elevation Meters  TD meters   SurfaceLongitude_NAD83  \
0  100072507623W500             555.7      2545.0             -117.423800
1  100062007823W500             560.9      2430.0             -117.537674
2  100052107723W500             558.4      2515.5             -117.516168
3  100061307518W500             631.4      2411.0             -116.653606
4  100070907618W500             627.0      2408.0             -116.726243

   SurfaceLatitude_NAD83
0              55.613640
1              55.770872
2              55.683723
3              55.494600
4              55.566965

In [4]:
print(df_well.isna().any())

UWI                       False
Elevation Meters          False
ElevationDatum            False
TD meters                 False
SurfaceLatitude_NAD83     False
SurfaceLongitude_NAD83    False
BottomLatitude_NAD83      False
BottomLongitude_NAD83     False
SurfaceLatitude_NAD27     False
SurfaceLongitude_NAD27    False
BottomLatitude_NAD27      False
BottomLongitude_NAD27     False
dtype: bool

In [5]:
gdf = gpd.GeoDataFrame(
    duvernay_geo, crs='epsg:4269', geometry=gpd.points_from_xy
    (duvernay_geo.SurfaceLongitude_NAD83, duvernay_geo.SurfaceLatitude_NAD83))

print(gdf.head())

               UWI   Elevation Meters  TD meters   SurfaceLongitude_NAD83  \
0  100072507623W500             555.7      2545.0             -117.423800
1  100062007823W500             560.9      2430.0             -117.537674
2  100052107723W500             558.4      2515.5             -117.516168
3  100061307518W500             631.4      2411.0             -116.653606
4  100070907618W500             627.0      2408.0             -116.726243

   SurfaceLatitude_NAD83                     geometry
0              55.613640  POINT (-117.42380 55.61364)
1              55.770872  POINT (-117.53767 55.77087)
2              55.683723  POINT (-117.51617 55.68372)
3              55.494600  POINT (-116.65361 55.49460)
4              55.566965  POINT (-116.72624 55.56697)

In [6]:
gdf = gdf.to_crs(epsg=3857)
print(gdf.head())

               UWI   Elevation Meters  TD meters   SurfaceLongitude_NAD83  \
0  100072507623W500             555.7      2545.0             -117.423800
1  100062007823W500             560.9      2430.0             -117.537674
2  100052107723W500             558.4      2515.5             -117.516168
3  100061307518W500             631.4      2411.0             -116.653606
4  100070907618W500             627.0      2408.0             -116.726243

   SurfaceLatitude_NAD83                           geometry
0              55.613640  POINT (-13071557.623 7481883.651)
1              55.770872  POINT (-13084234.019 7512937.315)
2              55.683723  POINT (-13081839.982 7495709.772)
3              55.494600  POINT (-12985820.019 7458455.717)
4              55.566965  POINT (-12993905.933 7472689.213)

In [ ]:
ax = gdf.plot(markersize=7, figsize=(20, 17))
cx.add_basemap(ax)
plt.title("Duvernay well location", fontsize=15)
plt.show()

In [ ]:
file = r'C:\Users\karol\OneDrive\Documents\GitHub\gtx-2021\gtx\data\Duvernay\Duvernay\SPE Duvernay production summary April 20 2021.xlsx'
prod_dvnay = pd.read_excel(file)
print(prod_dvnay.info())

In [ ]:
print(prod_dvnay.columns)
prod_dvnay_2 = prod_dvnay[['API   ', 'Completion Date   ', 'Oil Total Cum (bbl)   ',
                           'Water Total Cum (bbl)   ', 'Gas Total Cum (mcf)   ',
                           'Spud Date   ', 'Last Production Month   ']]
print(prod_dvnay_2.info())

In [ ]:
prod_dvnay_2['Liquid_Cum'] = prod_dvnay['Oil Total Cum (bbl)   '] \
                             + prod_dvnay['Water Total Cum (bbl)   ']
print(prod_dvnay_2.info())

In [ ]:
def plot_data(axes, x, y, color, xlabel, ylabel):
    axes.scatter(x, y, color=color)
    axes.set_xlabel(xlabel)
    axes.set_ylabel(ylabel, color=color)


fig, ax = plt.subplots(figsize=(15, 12))
plot_data(ax, prod_dvnay['Oil Maximum Date   '],
          prod_dvnay['Oil Maximum (bbl)   '], "green", "Date", "Oil maximum cumulative")
ax2 = ax.twinx()
plot_data(ax2, prod_dvnay['Water Maximum Date   '],
          prod_dvnay['Water Maximum (bbl)   '], "blue", "Date",
          "Water maximum cumulative")
plt.show()

In [ ]:
gdf_2 = gdf.merge(prod_dvnay_2, how='left', left_on='UWI ', right_on='API   ')
gdf_2.drop('API   ', axis=1, inplace=True)
print(gdf_2.columns)

In [ ]:

gpkg_save_path = r"C:\Users\karol\OneDrive\Documents\GitHub\gtx-2021\gtx\Scripts_gtx\dvnay.gpkg"
gdf_2.to_file(gpkg_save_path, layer="production", driver='GPKG')

# Formation Tops

In [7]:
duvernay_folder = ROOT_DIR / "gtx/data/Duvernay/Duvernay"
dvnay_form_tops = pd.read_excel(duvernay_folder / "Duvernay formation tops SPE April 20 "
                                                 "2021.xlsx")
print(dvnay_form_tops.info())
print(dvnay_form_tops.columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 512 entries, 0 to 511
Data columns (total 21 columns):
 #   Column                                                    Non-Null Count  Dtype
---  ------                                                    --------------  -----
 0   UWI                                                       512 non-null    object
 1   Bottom Hole Location X_m_NAD27_Zone 11N (120 W to 114 W)  512 non-null    float64
 2   Bottom Hole Location Y_m_NAD27_Zone 11N (120 W to 114 W)  512 non-null    float64
 3   Elevation(m above sea level)                              512 non-null    float64
 4   01_Battle (Surbiton)[SSTVD] (m)                           25 non-null     float64
 5   02_Lea_Park (Surbiton)[SSTVD] (m)                         376 non-null    float64
 6   03_1st_White_Speckled_Shale (Surbiton)[SSTVD] (m)         445 non-null    float64
 7   04_2nd_White_Speckled_Shale (Surbiton)[SSTVD] (m)         446 non-null    float64
 8   05_Fish_scales (Surbiton)[SSTVD] (m)                      500 non-null    float64
 9   06_Mannville_Top (Surbiton)[SSTVD] (m)                    501 non-null    float64
 10  07_Ostracod_Beds (Surbiton)[SSTVD] (m)                    379 non-null    float64
 11  08_Jurassic_Top (Surbiton)[SSTVD] (m)                     341 non-null    float64
 12  09_Montney_Top (Surbiton)[SSTVD] (m)                      237 non-null    float64
 13  10_Permian_Top (Surbiton)[SSTVD] (m)                      208 non-null    float64
 14  11_Wabamun (Surbiton)[SSTVD] (m)                          504 non-null    float64
 15  12_Winterburn (Surbiton)[SSTVD] (m)                       497 non-null    float64
 16  13_Woodbend (Surbiton)[SSTVD] (m)                         512 non-null    float64
 17  14_Duvernay_Top (Surbiton)[SSTVD] (m)                     480 non-null    float64
 18  15_Beaverhill (Surbiton)[SSTVD] (m)                       512 non-null    float64
 19  16_Elk_Point (Surbiton)[SSTVD] (m)                        466 non-null    float64
 20  17_Precambrian Basement (Surbiton)[SSTVD] (m)             55 non-null     float64
dtypes: float64(20), object(1)
memory usage: 84.1+ KB
None
Index(['UWI', 'Bottom Hole Location X_m_NAD27_Zone 11N (120 W to 114 W)',
       'Bottom Hole Location Y_m_NAD27_Zone 11N (120 W to 114 W)',
       'Elevation(m above sea level)', '01_Battle (Surbiton)[SSTVD] (m)',
       '02_Lea_Park (Surbiton)[SSTVD] (m)',
       '03_1st_White_Speckled_Shale (Surbiton)[SSTVD] (m)',
       '04_2nd_White_Speckled_Shale (Surbiton)[SSTVD] (m)',
       '05_Fish_scales (Surbiton)[SSTVD] (m)',
       '06_Mannville_Top (Surbiton)[SSTVD] (m)',
       '07_Ostracod_Beds (Surbiton)[SSTVD] (m)',
       '08_Jurassic_Top (Surbiton)[SSTVD] (m)',
       '09_Montney_Top (Surbiton)[SSTVD] (m)',
       '10_Permian_Top (Surbiton)[SSTVD] (m)',
       '11_Wabamun (Surbiton)[SSTVD] (m)',
       '12_Winterburn (Surbiton)[SSTVD] (m)',
       '13_Woodbend (Surbiton)[SSTVD] (m)',
       '14_Duvernay_Top (Surbiton)[SSTVD] (m)',
       '15_Beaverhill (Surbiton)[SSTVD] (m)',
       '16_Elk_Point (Surbiton)[SSTVD] (m)',
       '17_Precambrian Basement (Surbiton)[SSTVD] (m)'],
      dtype='object')

In [8]:
# converting to geodataframe
x = dvnay_form_tops['Bottom Hole Location X_m_NAD27_Zone 11N (120 W to 114 W)']
y = dvnay_form_tops['Bottom Hole Location Y_m_NAD27_Zone 11N (120 W to 114 W)']
gdf_form_tops = gpd.GeoDataFrame(
    dvnay_form_tops, crs='epsg:4267', geometry=gpd.points_from_xy
    (x, y))
gdf_form_tops.drop(['Bottom Hole Location X_m_NAD27_Zone 11N (120 W to 114 W)', 'Bottom Hole Location Y_m_NAD27_Zone 11N (120 W to 114 W)'] , axis=1, inplace=True)
print(gdf_form_tops.info())
gdf_form_tops.head()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 512 entries, 0 to 511
Data columns (total 20 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   UWI                                                512 non-null    object
 1   Elevation(m above sea level)                       512 non-null    float64
 2   01_Battle (Surbiton)[SSTVD] (m)                    25 non-null     float64
 3   02_Lea_Park (Surbiton)[SSTVD] (m)                  376 non-null    float64
 4   03_1st_White_Speckled_Shale (Surbiton)[SSTVD] (m)  445 non-null    float64
 5   04_2nd_White_Speckled_Shale (Surbiton)[SSTVD] (m)  446 non-null    float64
 6   05_Fish_scales (Surbiton)[SSTVD] (m)               500 non-null    float64
 7   06_Mannville_Top (Surbiton)[SSTVD] (m)             501 non-null    float64
 8   07_Ostracod_Beds (Surbiton)[SSTVD] (m)             379 non-null    float64
 9   08_Jurassic_Top (Surbiton)[SSTVD] (m)              341 non-null    float64
 10  09_Montney_Top (Surbiton)[SSTVD] (m)               237 non-null    float64
 11  10_Permian_Top (Surbiton)[SSTVD] (m)               208 non-null    float64
 12  11_Wabamun (Surbiton)[SSTVD] (m)                   504 non-null    float64
 13  12_Winterburn (Surbiton)[SSTVD] (m)                497 non-null    float64
 14  13_Woodbend (Surbiton)[SSTVD] (m)                  512 non-null    float64
 15  14_Duvernay_Top (Surbiton)[SSTVD] (m)              480 non-null    float64
 16  15_Beaverhill (Surbiton)[SSTVD] (m)                512 non-null    float64
 17  16_Elk_Point (Surbiton)[SSTVD] (m)                 466 non-null    float64
 18  17_Precambrian Basement (Surbiton)[SSTVD] (m)      55 non-null     float64
 19  geometry                                           512 non-null    geometry
dtypes: float64(18), geometry(1), object(1)
memory usage: 80.1+ KB
None

,UWI,Elevation(m above sea level),01_Battle (Surbiton)[SSTVD] (m),02_Lea_Park (Surbiton)[SSTVD] (m),03_1st_White_Speckled_Shale (Surbiton)[SSTVD] (m),04_2nd_White_Speckled_Shale (Surbiton)[SSTVD] (m),05_Fish_scales (Surbiton)[SSTVD] (m),06_Mannville_Top (Surbiton)[SSTVD] (m),07_Ostracod_Beds (Surbiton)[SSTVD] (m),08_Jurassic_Top (Surbiton)[SSTVD] (m),09_Montney_Top (Surbiton)[SSTVD] (m),10_Permian_Top (Surbiton)[SSTVD] (m),11_Wabamun (Surbiton)[SSTVD] (m),12_Winterburn (Surbiton)[SSTVD] (m),13_Woodbend (Surbiton)[SSTVD] (m),14_Duvernay_Top (Surbiton)[SSTVD] (m),15_Beaverhill (Surbiton)[SSTVD] (m),16_Elk_Point (Surbiton)[SSTVD] (m),17_Precambrian Basement (Surbiton)[SSTVD] (m),geometry
0,100010107020W500,701.0,NaN,NaN,189.50,-3.4,-214.00,-307.0,-607.7,-627.3,-713.3,NaN,-1271.1,-1508.8,-1605.1,-1900.50,-1937.3,-2044.3,NaN,POINT (506245.600 6097691.890)
1,100010608109W500,645.6,NaN,NaN,NaN,NaN,390.30,342.5,NaN,NaN,NaN,NaN,-206.4,-483.9,-604.7,-842.77,-895.4,-1042.5,-1078.4,POINT (600487.160 6205637.530)
2,100010904012W500,1283.8,NaN,-1081.79,-1265.89,-1741.2,-1984.70,-2034.7,-2231.2,-2335.2,NaN,NaN,-2735.2,-3011.2,-3082.2,-3293.20,-3340.2,-3504.7,NaN,POINT (591372.370 5808846.490)
3,100011206021W400,651.6,NaN,464.00,323.30,190.1,91.10,35.6,-125.1,NaN,NaN,NaN,NaN,-168.4,-246.4,-422.40,-579.4,-811.4,NaN,POINT (760983.750 6009309.660)
4,100011506915W500,873.1,NaN,293.98,223.10,NaN,-129.94,-213.7,-461.9,NaN,NaN,NaN,-919.8,-1164.7,-1279.7,-1557.30,-1602.2,-1744.9,NaN,POINT (552047.780 6091428.820)

In [ ]:
gdf_form_tops = gdf_form_tops.to_crs(epsg=3857)
gpkg_path = r"C:\Users\karol\OneDrive\Documents\GitHub\gtx-2021\gtx\EDA_Duvernay\form_tops_v2.gpkg"
gdf_form_tops.to_file(gpkg_path, layer="formation tops", driver='GPKG')

# Plotting well Logs

In [ ]:
las_file = r"C:\Users\karol\OneDrive\Documents\GitHub\gtx-2021\gtx\data\well_log_files\duvernay_LAS\CA100011804403W500_3067458_00006H3794594_W.LAS"
w = Well.from_las(las_file)
w.data.keys()
w.Well.uwi

In [ ]:
tracks = ['GRRED', 'GRSED', 'SPRED', 'SPWS', 'ILDED', 'ILMED', 'CONDWS', 'DPHISSED', 'DPOLSWS' ]
w.data['NPHISSED'].plot()
w.data['RHOBED'].plot()
w.plot(tracks=tracks)

In [ ]:
segment_GR = w.data['GRRED'].to_basis(start=0, stop=2700)
segment_SP = w.data['SPRED'].to_basis(start=0, stop=2700)
segment_RT = w.data['ILDED'].to_basis(start=0, stop=2700)
segment_DE = w.data['DPHISSED'].to_basis(start=0, stop=2700)
segment_NPHI = w.data['NPHISSED'].to_basis(start=0, stop=2700)
segment_RHOB = w.data['RHOBED'].to_basis(start=0, stop=2700)

In [ ]:
#Matplotlib plotly function
fig, axes = plt.subplots(nrows=1, ncols=5, constrained_layout=True, figsize=(10,10))
segment_GR.plot(ax=axes[0], c="g")
axes[0].set_xlim([0, 150]) #escala registro
axes[0].fill_betweenx(segment_GR.basis, 150, segment_GR, hatch="///", edgecolor='green', facecolor="none")

ax1=axes[1]
ax1.set_xlim([-200, 0])
segment_SP.plot(ax=axes[1], c="black")

ax2=axes[2]
ax2.set_xlim([0, 2000])
segment_RT.plot(ax=axes[2], c="red")

ax3=axes[3]
ax3.set_xlim([0, 0.5])
segment_DE.plot(ax=axes[3], c="blue")

# Log Files

In [ ]:
# directory = ROOT_DIR/'gtx/data/well_log_files/duvernay_LAS'
las_files = (ROOT_DIR/ 'gtx/data/well_log_files').glob("*.las")

In [ ]:
df_las_all = pd.DataFrame()
uwi_col = "UWI"
basin_col = "basin"
for las_file in las_files:
    las = welly.Well.from_las(las_file, index='ft')
    las_df = las.df()
    uwi: str = las.uwi
    las_df[uwi_col] = uwi
    las_df[basin_col] = "Eaglebine" if uwi.startswith("42") else "Duvernay"
    df_las_all = df_las_all.append(las_df)
df_las_all.to_csv("well_logs_u.csv")

In [ ]:
print(df_las_all)

In [ ]:
path_file = r'C:\Users\fredd\PycharmProjects\gtx-2021\gtx\EDA_well_logs\logs_v2.db'

In [ ]:
engine = create_engine('sqlite:////Users/fredd/PycharmProjects/gtx-2021/gtx/EDA_well_logs/logs_v2.db')

In [ ]:
meta_db = MetaData(bind=engine)
meta_db.create_all(engine)

In [9]:
df = pd.read_csv(ROOT_DIR / 'gtx/eda_oc/well_logs.csv')
df.head()

C:\Users\fredd\miniconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Depth,CALSED,CALWS,CONDWS,DRESWS,DTED,DTWS,GRSED,GRWS,ILDED,...,AF90,AF10ED,AF90ED,DPHZED,TNPHED,CHTD,ARFL,ASGU,LL3ED,LL3
0,950.0,9.6926,9.6926,230.2433,4.3433,140.0,140.0,NaN,NaN,4.3433,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000.0,8.3385,8.3385,67.4727,14.8208,140.0,140.0,NaN,NaN,14.8208,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1050.0,9.4662,9.4662,170.1346,5.8777,NaN,NaN,NaN,NaN,5.8777,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1100.0,10.6005,10.6005,234.4886,4.2646,NaN,NaN,NaN,NaN,4.2646,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1150.0,11.3021,11.3021,194.5147,5.1410,NaN,NaN,NaN,NaN,5.1410,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df_logs = df[df.basin=='Duvernay']
df_logs.basin.unique()

array(['Duvernay'], dtype=object)

In [11]:
# Amount of unique wells
len(df_logs.UWI.unique())

512

In [ ]:
df.to_sql('logs', con=engine)

In [ ]:
logs_duvernay = ''' select * from logs where basin = 'Duvernay'  '''

In [ ]:
df_logs_dvnay = pd.read_sql_query(logs_duvernay, engine)

In [ ]:
print(df_logs_dvnay.head(50))
print(df_logs_dvnay.columns)

In [ ]:
df_logs_dvnay['UWI'].unique()

In [ ]:
print(df_logs_dvnay[df_logs_dvnay['UWI'] == "100010608109W500"])

## Assigning formation tops to each well log - duvernay basin

In [12]:
duvernay_folder = ROOT_DIR / "gtx/data/Duvernay/Duvernay"
tops_df = pd.read_excel(duvernay_folder / "Duvernay formation tops SPE April 20 "
                                                 "2021.xlsx")
print(tops_df.info())
print(tops_df.columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 512 entries, 0 to 511
Data columns (total 21 columns):
 #   Column                                                    Non-Null Count  Dtype
---  ------                                                    --------------  -----
 0   UWI                                                       512 non-null    object
 1   Bottom Hole Location X_m_NAD27_Zone 11N (120 W to 114 W)  512 non-null    float64
 2   Bottom Hole Location Y_m_NAD27_Zone 11N (120 W to 114 W)  512 non-null    float64
 3   Elevation(m above sea level)                              512 non-null    float64
 4   01_Battle (Surbiton)[SSTVD] (m)                           25 non-null     float64
 5   02_Lea_Park (Surbiton)[SSTVD] (m)                         376 non-null    float64
 6   03_1st_White_Speckled_Shale (Surbiton)[SSTVD] (m)         445 non-null    float64
 7   04_2nd_White_Speckled_Shale (Surbiton)[SSTVD] (m)         446 non-null    float64
 8   05_Fish_scales (Surbiton)[SSTVD] (m)                      500 non-null    float64
 9   06_Mannville_Top (Surbiton)[SSTVD] (m)                    501 non-null    float64
 10  07_Ostracod_Beds (Surbiton)[SSTVD] (m)                    379 non-null    float64
 11  08_Jurassic_Top (Surbiton)[SSTVD] (m)                     341 non-null    float64
 12  09_Montney_Top (Surbiton)[SSTVD] (m)                      237 non-null    float64
 13  10_Permian_Top (Surbiton)[SSTVD] (m)                      208 non-null    float64
 14  11_Wabamun (Surbiton)[SSTVD] (m)                          504 non-null    float64
 15  12_Winterburn (Surbiton)[SSTVD] (m)                       497 non-null    float64
 16  13_Woodbend (Surbiton)[SSTVD] (m)                         512 non-null    float64
 17  14_Duvernay_Top (Surbiton)[SSTVD] (m)                     480 non-null    float64
 18  15_Beaverhill (Surbiton)[SSTVD] (m)                       512 non-null    float64
 19  16_Elk_Point (Surbiton)[SSTVD] (m)                        466 non-null    float64
 20  17_Precambrian Basement (Surbiton)[SSTVD] (m)             55 non-null     float64
dtypes: float64(20), object(1)
memory usage: 84.1+ KB
None
Index(['UWI', 'Bottom Hole Location X_m_NAD27_Zone 11N (120 W to 114 W)',
       'Bottom Hole Location Y_m_NAD27_Zone 11N (120 W to 114 W)',
       'Elevation(m above sea level)', '01_Battle (Surbiton)[SSTVD] (m)',
       '02_Lea_Park (Surbiton)[SSTVD] (m)',
       '03_1st_White_Speckled_Shale (Surbiton)[SSTVD] (m)',
       '04_2nd_White_Speckled_Shale (Surbiton)[SSTVD] (m)',
       '05_Fish_scales (Surbiton)[SSTVD] (m)',
       '06_Mannville_Top (Surbiton)[SSTVD] (m)',
       '07_Ostracod_Beds (Surbiton)[SSTVD] (m)',
       '08_Jurassic_Top (Surbiton)[SSTVD] (m)',
       '09_Montney_Top (Surbiton)[SSTVD] (m)',
       '10_Permian_Top (Surbiton)[SSTVD] (m)',
       '11_Wabamun (Surbiton)[SSTVD] (m)',
       '12_Winterburn (Surbiton)[SSTVD] (m)',
       '13_Woodbend (Surbiton)[SSTVD] (m)',
       '14_Duvernay_Top (Surbiton)[SSTVD] (m)',
       '15_Beaverhill (Surbiton)[SSTVD] (m)',
       '16_Elk_Point (Surbiton)[SSTVD] (m)',
       '17_Precambrian Basement (Surbiton)[SSTVD] (m)'],
      dtype='object')

In [13]:
top_sstvd_col = "top_sstvd"
formation_col = "formation"
tops_df = tops_df.set_index('UWI').loc[:, '01_Battle (Surbiton)[SSTVD] (m)':]

In [14]:
tops_df = tops_df.reset_index().melt(id_vars=['UWI'],
                       var_name=formation_col,
                      value_name=top_sstvd_col)
print(tops_df.head())

                UWI                        formation  top_sstvd
0  100010107020W500  01_Battle (Surbiton)[SSTVD] (m)        NaN
1  100010608109W500  01_Battle (Surbiton)[SSTVD] (m)        NaN
2  100010904012W500  01_Battle (Surbiton)[SSTVD] (m)        NaN
3  100011206021W400  01_Battle (Surbiton)[SSTVD] (m)        NaN
4  100011506915W500  01_Battle (Surbiton)[SSTVD] (m)        NaN

In [15]:
tops_df[formation_col] = tops_df[formation_col].str.replace('[^a-zA-Z]', ' ').\
str.replace('Surbiton  SSTVD   m', "").str.strip()
print(tops_df)

                   UWI             formation  top_sstvd
0     100010107020W500                Battle        NaN
1     100010608109W500                Battle        NaN
2     100010904012W500                Battle        NaN
3     100011206021W400                Battle        NaN
4     100011506915W500                Battle        NaN
...                ...                   ...        ...
8699  102101403324W400  Precambrian Basement        NaN
8700  102102106218W500  Precambrian Basement        NaN
8701  102112204416W500  Precambrian Basement        NaN
8702  102142004709W500  Precambrian Basement        NaN
8703  106141105522W400  Precambrian Basement        NaN

[8704 rows x 3 columns]

<ipython-input-15-f8661bbc3818>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  tops_df[formation_col] = tops_df[formation_col].str.replace('[^a-zA-Z]', ' ').\

In [16]:
tops_df[top_sstvd_col] = tops_df[top_sstvd_col].replace(0, np.nan)
tops_df.dropna(inplace=True)
print(tops_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6484 entries, 5 to 8682
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   UWI        6484 non-null   object
 1   formation  6484 non-null   object
 2   top_sstvd  6484 non-null   float64
dtypes: float64(1), object(2)
memory usage: 202.6+ KB
None

In [17]:
uwi_col = "UWI"
elev_col = 'Elevation Meters'
gdf_headers = gdf.rename(columns={'UWI ': uwi_col, 'Elevation Meters': elev_col })
gdf_headers = gdf_headers[[uwi_col, elev_col ]]
print(gdf_headers.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 512 entries, 0 to 511
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   UWI               512 non-null    object
 1   Elevation Meters  512 non-null    float64
dtypes: float64(1), object(1)
memory usage: 8.1+ KB
None

In [18]:
tops_df = tops_df.merge(gdf_headers, on='UWI')

In [19]:
tops_df.columns

Index(['UWI', 'formation', 'top_sstvd', 'Elevation Meters'], dtype='object')

In [ ]:
gdf = gdf.rename(columns={'UWI ': uwi_col, 'Elevation Meters': elev_col })

In [ ]:
gdf_form = gdf.merge(tops_df, on='UWI')

In [ ]:
print(gdf_form)

In [ ]:
gpkg_path_3 = r"C:\Users\karol\OneDrive\Documents\GitHub\gtx-2021\gtx\EDA_Duvernay\form_tops_dv.gpkg"
gdf_form.to_file(gpkg_path_3, layer="formation tops", driver='GPKG')

In [ ]:
depth = np.empty([1,0])
for value in tops_df['top_sstvd']:
    if value < 0:
        value = value * -1
        depth = np.append(depth, value)
    else:
        value = value
        depth = np.append(depth, value)
tops_df['top_sstvd_2'] = depth
print(tops_df['top_sstvd_2'])

In [ ]:
print(tops_df.info())

In [20]:
tops_df[top_sstvd_col] = tops_df[top_sstvd_col] * 3.2808
tops_df['Elevation Meters'] = tops_df['Elevation Meters'] * 3.2808

In [21]:
tops_df.rename(columns={'Elevation Meters':'Elevation(ft)'}, inplace=True)

In [22]:
tops_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6484 entries, 0 to 6483
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   UWI            6484 non-null   object
 1   formation      6484 non-null   object
 2   top_sstvd      6484 non-null   float64
 3   Elevation(ft)  6484 non-null   float64
dtypes: float64(2), object(2)
memory usage: 253.3+ KB

In [23]:
tops_df['top_md(ft)'] = np.where(tops_df['top_sstvd'] < 0, (-1 * tops_df['top_sstvd']) + tops_df['Elevation(ft)'],
                                 tops_df['Elevation(ft)'] - tops_df['top_sstvd'])
tops_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6484 entries, 0 to 6483
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   UWI            6484 non-null   object
 1   formation      6484 non-null   object
 2   top_sstvd      6484 non-null   float64
 3   Elevation(ft)  6484 non-null   float64
 4   top_md(ft)     6484 non-null   float64
dtypes: float64(3), object(2)
memory usage: 303.9+ KB

In [24]:
tops_df.head()

,UWI,formation,top_sstvd,Elevation(ft),top_md(ft)
0,100011804403W500,Battle,2029.502880,3106.58952,1077.086640
1,100011804403W500,Lea Park,-810.685680,3106.58952,3917.275200
2,100011804403W500,st White Speckled Shale,-1228.987680,3106.58952,4335.577200
3,100011804403W500,nd White Speckled Shale,-2114.803680,3106.58952,5221.393200
4,100011804403W500,Fish scales,-2579.397768,3106.58952,5685.987288

In [26]:
#df_logs = df_logs.merge(tops_df, on='UWI', how='left')
tops_df.rename(columns={'top_md(ft)':'top_md'}, inplace=True)

In [27]:
group_tops = tops_df.groupby(uwi_col)
for name, group in group_tops:
   well_cond = df_logs[uwi_col] == name
   for row in group.itertuples(index=False):
        md_top = getattr(row, 'top_md(ft)')
        formation_name = getattr(row, 'formation')
        formation_cond = df_logs['Depth'] >= md_top
        if sum(formation_cond) >= 1:
            df_logs.loc[formation_cond & well_cond, formation_col] = formation_name

df_logs.info()

AttributeError: 'Pandas' object has no attribute 'top_md(ft)'

In [28]:
df_logs.head()

,Depth,CALSED,CALWS,CONDWS,DRESWS,DTED,DTWS,GRSED,GRWS,ILDED,...,AF90,AF10ED,AF90ED,DPHZED,TNPHED,CHTD,ARFL,ASGU,LL3ED,LL3
0,950.0,9.6926,9.6926,230.2433,4.3433,140.0,140.0,NaN,NaN,4.3433,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000.0,8.3385,8.3385,67.4727,14.8208,140.0,140.0,NaN,NaN,14.8208,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1050.0,9.4662,9.4662,170.1346,5.8777,NaN,NaN,NaN,NaN,5.8777,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1100.0,10.6005,10.6005,234.4886,4.2646,NaN,NaN,NaN,NaN,4.2646,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1150.0,11.3021,11.3021,194.5147,5.1410,NaN,NaN,NaN,NaN,5.1410,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
well_1 = df_logs[df_logs["UWI"] == '100011804403W500']#log = welly.Well.to_las(well)
well_1.head()

,Depth,CALSED,CALWS,CONDWS,DRESWS,DTED,DTWS,GRSED,GRWS,ILDED,...,AF90,AF10ED,AF90ED,DPHZED,TNPHED,CHTD,ARFL,ASGU,LL3ED,LL3
708,1148.293963,NaN,NaN,NaN,NaN,NaN,NaN,37.9658,37.9658,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
709,1312.335958,NaN,NaN,NaN,NaN,NaN,NaN,30.1771,30.1771,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
710,1476.377953,272.6225,272.6225,107.1903,9.3292,282.3496,282.3496,55.7633,55.7633,9.3292,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
711,1640.419948,246.7711,246.7711,60.4869,16.5325,231.5233,231.5233,56.0243,56.0243,16.5325,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
712,1804.461942,276.3381,276.3381,150.7068,6.6354,308.0164,308.0164,82.0579,82.0579,6.6354,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_logs_dvnay.UWI

# Testing merge of well logs with formation tops

In [ ]:
# Filtering a well by UWI
well_1 = df_logs_dvnay[df_logs_dvnay["UWI"] == '100011804403W500']
well_2 = df_logs_dvnay[df_logs_dvnay["UWI"] == '100041903905W500']
well_3 = df_logs_dvnay[df_logs_dvnay["UWI"] == '106141105522W400']
# print(well_1.columns)

In [35]:
well_1[['Depth', 'basin']].head(50)

           Depth     basin
708  1148.293963  Duvernay
709  1312.335958  Duvernay
710  1476.377953  Duvernay
711  1640.419948  Duvernay
712  1804.461942  Duvernay
713  1968.503937  Duvernay
714  2132.545932  Duvernay
715  2296.587927  Duvernay
716  2460.629921  Duvernay
717  2624.671916  Duvernay
718  2788.713911  Duvernay
719  2952.755906  Duvernay
720  3116.797900  Duvernay
721  3280.839895  Duvernay
722  3444.881890  Duvernay
723  3608.923885  Duvernay
724  3772.965879  Duvernay
725  3937.007874  Duvernay
726  4101.049869  Duvernay
727  4265.091864  Duvernay
728  4429.133858  Duvernay
729  4593.175853  Duvernay
730  4757.217848  Duvernay
731  4921.259843  Duvernay
732  5085.301837  Duvernay
733  5249.343832  Duvernay
734  5413.385827  Duvernay
735  5577.427822  Duvernay
736  5741.469816  Duvernay
737  5905.511811  Duvernay
738  6069.553806  Duvernay
739  6233.595801  Duvernay
740  6397.637795  Duvernay
741  6561.679790  Duvernay
742  6725.721785  Duvernay
743  6889.763780  Duvernay
744  7053.805774  Duvernay
745  7217.847769  Duvernay
746  7381.889764  Duvernay
747  7545.931759  Duvernay
748  7709.973753  Duvernay
749  7874.015748  Duvernay
750  8038.057743  Duvernay
751  8202.099738  Duvernay
752  8366.141732  Duvernay
753  8530.183727  Duvernay
754  8694.225722  Duvernay
755  8858.267717  Duvernay
756  9022.309711  Duvernay
757  1148.293963  Duvernay

In [36]:
s = tops_df[tops_df['UWI'] == '100011804403W500']
s['formation'].head()

0                     Battle
1                   Lea Park
2    st White Speckled Shale
3    nd White Speckled Shale
4                Fish scales
Name: formation, dtype: object

In [ ]:
well_2['formation'].unique()

In [ ]:
n = tops_df[tops_df['UWI'] == '100041903905W500']
n['formation']

In [ ]:
well_3['formation'].unique()

In [ ]:
t = tops_df[tops_df['UWI'] == '106141105522W400']
t['formation']